*{
margin: 0;
padding: 0;
box-sizing: border-box;
border: none;
outline: none;
scroll-behavior: smooth;
}
.name{
display: flex;
justify-content: space-around;
margin: 50px;
background-color: lightcyan;
}
.left{
margin-top: 50px;
}
p{
    line-height: 30px;
}
p img{
    width: 35px;
    height: 20px;
    
}
.objective{
    margin: 0px 50px 5px 50px;
}
h2 img{
    width: 40px;
    height: 20px;
}
.edu{
    color: rgb(123,104,238);
}
.education{
    margin: 0px 50px 5px 50px;
}
.skills{
    margin: 0px 50px 5px 50px;
}
.activities{
    margin: 0px 50px 5px 50px
}
.projects{
    margin: 0px 50px 5px 50px
}
.projects p{
    margin-left: 30px;
}
h2{
    color: rgb(72,61,139);
}